@charset "utf-8";
.carousel {
    width: calc(100% - 115px);
    margin-left: 40px;
}
.carousel > div { 
    margin-bottom: 30px;
 }
 .carousel > div img { 
     width: 100%;
     overflow: hidden;
  }
  .carousel .slick-arrow{
     position:absolute;
     top: 50%;
     z-index: 1;
     width: 44px;
     height: 54px;
     background: url(../images/slickArrow.png);
     text-indent: -99999px;
     border:0;
     opacity: .7;
 }
 .carousel .slick-arrow:hover,  .carousel .slick-arrow:focus {
     opacity: 1;
 }
 .carousel .slick-next{
     right:-56px;
     background-position: 45px 0;
 }
 .carousel .slick-prev{
     left:-56px;
 }

 .hpgreenSection1 {
     position: relative;
     margin: 50px 0 40px;
 }

 .hpgreenSection1:before {
    width: 60%;
    height: 360px;
    background: #f0efe9;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
 }
.hpgreenSection1 .carousel p {
     margin-top: 10px;
 }
.hpgreenSection1  .sort {
    font-size: 14px;
    background: #5c7537;
    padding: 5px 15px;
    color: #fff;
}
.hpgreenSection1 .carousel a.tagahref {
    color: #8bb220;
    font-size: 14px;
    line-height: 28px;
    margin: 0 5px;
}
.hpgreenSection1 .carousel p.tagline,
.hpgreenSection1 .carousel p.title,
.hpgreenSection1 .carousel p.author {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0;
}
.hpgreenSection1 .carousel p.tagline {
    margin-top: 8px;
}
.hpgreenSection1 .carousel p.title {
    margin-top: 5px;
}
.hpgreenSection1 p.title a {
    font-size: 24px;
    color: #4d4d4d;
}
.hpgreenSection1 p.author {
    margin: 0;
    font-weight: bold;
    color: #8bb220;
    font-size: 14px;
}
.hpgreenSection1 .carousel p.info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 5px;
    color: #777777;
}

.hpgreenSection1 .carousel p.info a{
    font-size: 16px;
    line-height: 22px;
    color: #777777;
}

.hpgreenSection1 .nav-tabs {
    border-bottom: 0;
}
.hpgreenSection1 .nav-tabs li {
    width: 50%;
    text-align: center;
    border: 0;
    background: #f0efe9;
}
.hpgreenSection1 .nav-tabs li a {
    color: #4D4D4D;
    font-size: 20px;
}
.hpgreenSection1 .nav-tabs>li.active>a, .hpgreenSection1 .nav-tabs>li.active>a:focus,  .hpgreenSection1 .nav-tabs>li.active>a:hover {
    background-color: #5c7537;
    border: none;
    border-radius: 0;
    color: #fff;
}
.hpgreenSection1 .nav-tabs>li>a {
    border:0;
    border-radius:0;
}
.hpgreenSection1 .nav-tabs>li>a:hover,
.hpgreenSection1 .nav-tabs>li>a:focus {
    background-color: #ebeae3;
}
.hpgreenSection1 .tab-content ul {
    list-style: none;
    padding-left: 0;
}
.hpgreenSection1 .tab-content ul li {
    margin: 20px 0;
}
.hpgreenSection1 .tab-content ul li a.postlistimg {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    float: left;
}
.hpgreenSection1 .tab-content .tagline {
    margin-bottom: 5px;
}
.hpgreenSection1 .tab-content .sort {
    font-size: 13px;
    padding: 2px 10px;
}

.hpgreenSection1 .tab-content .title a{
    font-size: 18px;

}
.hpgreenSection1 .tab-content .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.hpgreenSection1 .tab-content p.author {
    font-weight: normal;
}
.tagarea {
    margin-top: 30px;
}
.tagarea .btn-primary {
    font-size: 15px;
    color: #777;
    padding: 7px 10px;
    margin-bottom: 10px;
    border-color: #8bb220;
}
.tagarea .btn-primary span {
    color: #799c48;
}
.tagarea a:hover, .tagarea a:focus,
.tagarea .btn-primary:hover span, .tagarea .btn-primary:focus span {
    color: #fff;

}
.issue .col-sm-4 {
    margin-bottom: 50px;
}
.issue img {
    width: 100%;

}
.issue p.title {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap; 
    margin: 10px 0 5px;
}
.issue p.title a {
    font-size: 18px;
    color: #4d4d4d;
}
.issue p.info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 5px;
    color: #a5a5a5;
}

.issue p.info a {
    color: #a5a5a5;
}

.greenvoiceHead {
    background: #5c7537;
    padding: 25px 0;
}
.greenvoiceHead h2 {
    color: #fff;
    margin: 0;
}
.greenPage .wrapper .greenvoiceHead h2 span {
    color: #c4d259;
}
.wrapper .greenvoiceHead h2 span::before, .wrapper .greenvoiceHead h2 span::after {
    background: #c4d259;
}
.greenvoiceBody {
    background:#f0efea;
    padding :40px 0;
}
.greenvoiceBody .publishdate {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 2px;

}
.greenvoiceBody .title {
    font-size: 26px;
    margin: 0 0 40px 0;
}
.greenvoiceBody h3 {
    color: #5c7537;
    font-size: 20px;
}
.greenvoiceBody h3::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: calc(100% - 100px);
    background: #5c7537;
    vertical-align: middle;
    margin-left: 15px;
}
.greenvoiceBody .info {
    padding: 20px;
    line-height: 1.5em;
    font-size: 16px;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; */
}
.greenvoiceBody  ul {
    list-style: none;
    padding-left: 20px;
    padding-top: 5px;
}
.greenvoiceBody  ul li {
    margin: 10px 0;
}
.greenvoiceBody  ul li a {
    color: #4d4d4d;
    font-size: 18px;

}
.greenvoiceBody  ul li a .author {
    font-size: 14px;
    color: #8bb220;
    margin-left: 3px;
    display: inline-block;
    vertical-align: text-top;

}
.greenvoiceBody  ul li a:hover, .greenvoiceBody  ul li a:focus {
    text-decoration: none;
    color: #5c7537;
    
}
.greenvoiceBody img {
    width: 100%;
}
.greenvoiceBody .text-center {
    margin-top: 20px;
}
.greenvoiceBody .text-center  a{
    margin: 0 5px;
    padding: 10px 20px;
}

.hpRecipe {
    margin-bottom: 80px;
}
.hpRecipeSlider .slick-slide {
    width: 25%;
    padding: 0 15px;
}
.hpRecipeSlider .slick-slide img {
    width: 100%;
}
.hpRecipeSlider .slick-slide p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.hpRecipeSlider .slick-slide p a {
    font-size: 18px;
    color: #4d4d4d;
}


.hpRecipeSlider .slick-arrow{
    position:absolute;
    top: 50%;
    z-index: 1;
    width: 44px;
    height: 54px;
    background: url(../images/slickArrow.png);
    text-indent: -99999px;
    border:0;
    opacity: .7;
}
.hpRecipeSlider .slick-arrow:hover,  .hpRecipeSlider .slick-arrow:focus {
    opacity: 1;
}
.hpRecipeSlider .slick-next{
    right:-55px;
    background-position: 45px 0;
}
.hpRecipeSlider .slick-prev{
    left:-55px;
}

.greenvoiceMag .magCover {
    border: 1px solid #dedede;
    margin-bottom: 25px;
}
.greenvoiceMag .btn-primary {
    margin: 0 5px;
}
.greenvoiceMag .far {
    font-size: 15px;
    margin-right: 2px;
    vertical-align: baseline;
}
.otherMag {
    border-top: 1px solid #dedede;
    margin-top: 50px;
    padding-bottom: 40px;
}

.greenvoiceMag .currentMag .text-center{
    overflow: auto;
}

.affixContent {
    position: fixed;
    top: 180px;
}

.affixContent.absobottom {
    position: absolute;
    top: inherit;
    bottom: 20px;
    width: calc(100% - 30px);
}


.magSlider .slick-slide {
    width: 25%;
    padding: 0 15px;
}
.magSlider .slick-slide img {
    width: 100%;
    border: 1px solid #dedede;
}
.magSlider .slick-slide p {
    margin-top: 10px;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    
}


.magSlider .slick-slide p a {
    font-size: 18px;
    color: #4d4d4d;
}


.magSlider .slick-arrow{
    position:absolute;
    top: 50%;
    z-index: 1;
    width: 44px;
    height: 54px;
    background: url(../images/slickArrow.png);
    text-indent: -99999px;
    border:0;
    opacity: .7;
}
.magSlider .slick-arrow:hover,  .magSlider .slick-arrow:focus {
    opacity: 1;
}
.magSlider .slick-next{
    right:-55px;
    background-position: 45px 0;
}
.magSlider .slick-prev{
    left:-55px;
}

.currentPost {
    border-left: 1px solid #d8d8d8;
}

.currentPost .col-xs-6:nth-child(odd) {
    border-right: 1px solid #d8d8d8;
}
.currentPost .col-xs-6:nth-child(even) {
    border-left: 1px solid #d8d8d8;
    margin-left: -1px;
}
   
.currentPost img {
    width: 100%;
}
.currentPost p {
    text-align: justify;
    text-justify:inter-ideograph;
}
.currentPost .title {
    margin-top: 5px;
    margin-bottom: 3px;

}
.currentPost .title a {
    font-size: 21px;
    color: #4d4d4d;
}
.currentPost .textinfo a {
    font-size: 15px;
    color: #a5a5a5;
}

.hpSpecial .col-sm-6:first-child h2{
    display: none;

}

.greenvoiceMag [class^="col-"] {
    margin-bottom: 30px;
}
.greenvoiceMag [class^="col-"] img{
    width: 100%;
    border: 1px solid #dedede;
}
.greenvoiceMagList img { 
    width: 100%;
    border: 1px solid #dedede;
}
.greenvoiceMagList p a {
    font-size: 18px;
    color: #4d4d4d;
}
.greenvoiceMagList p {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 50px;
    margin-bottom: 30px;
}

@media (max-width:1280px) {
    .hpRecipeSlider .slick-prev, .magSlider .slick-prev  {
        left: -35px;
    }
    .hpRecipeSlider .slick-next, .magSlider .slick-next {
        right: -35px;
    }  
}

@media (max-width:1024px) {
    .currentMag .col-sm-6.text-center {
        width: 44%;
        margin: 0 0 0 6%;
    }
    .greenvoiceMag .magCover {
        width: 100%;
    }

    .otherMag, .hpRecipeSlider {
        width: 90%;
        margin: 0 auto;
    }
    .hpgreenSection1 .col-sm-4{
        width: 100%;
    }
    .hpgreenSection1:before {
        display: none;
    }
    .hpgreenSection1 .col-sm-8 {
        width: 100%;
        margin-bottom: 40px;
    }
    .hpgreenSection1 {
        margin-bottom: 0;
    }

}

@media (max-width:990px) {
    .currentMag .col-sm-6.text-center {
        width: 50%;
        margin: 0%;
    }  
}

@media (max-width:768px) {
    .currentMag .col-sm-6.text-center {
        width: 100%;
        margin: 0%;
    }
    .affixContent {
        width: 60%;
        margin: 0 auto 30px auto;

    }
    .greenvoice .col-sm-4, .greenvoice .col-sm-8 {
        width: 100%;
    }
    .greenvoice .col-sm-4 , .greenvoice .col-sm-8 .publishdate,
    .greenvoice .col-sm-8 .title {
        text-align: center;
    }
    .greenvoiceBody img {
        width: 60%;
    }
    .hpSpecial {
        margin-top: 0;
        padding-top: 0;
    }
    .hpSpecial::before {
        display: none;
    }
    .hpSpecial .col-sm-6 {
        width: 100%;
    }
    .hpSpecial .col-sm-6:first-child {
        margin-left: 0;
    }
    .hpSpecial .col-sm-6:first-child h2{
        display: block;
        text-align: center;

    }
    .hpSpecial .col-sm-6:first-child span {
        display: block;
        font-size: 20px;
        font-family: 'Maven Pro', Verdana, sans-serif;
        margin-top: 10px;
    }
    .hpSpecial .col-sm-6:first-child span::before, .hpSpecial .col-sm-6:first-child span::after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        vertical-align: middle;
        margin: 0 20px;
        position: inherit;
    }

    .hpSpecial .col-sm-6:last-child {
        width: 100%;
        padding-left: 15px;
        margin-top: 30px; 
    }
    .hpSpecial .col-sm-6:last-child h2 {
        display: none;
    }
    .hpSpecial .btn-primary {
        display: block;
        width: 86px;
        margin: 0 auto;
    }
    .hpSpecial .textinfo {
        margin-top: 10px;
    }
    .carousel {
        margin: 0 auto;
    }
    
}