@charset "utf-8";


/* hp */
.carousel > div { 
   max-height: 740px;
   margin-bottom: 50px;
}
.carousel > div img { 
    width: 100%;
    overflow: hidden;
 }
 .carousel .slick-arrow{
    position:absolute;
    top: 50%;
    z-index: 1;
    width: 44px;
    height: 54px;
    background: url(../images/slickArrow.png);
    text-indent: -99999px;
    border:0;
    opacity: .7;
}
.carousel .slick-arrow:hover,  .carousel .slick-arrow:focus {
    opacity: 1;
}
.carousel .slick-next{
    right:25px;
    background-position: 45px 0;
}
.carousel .slick-prev{
    left:25px;
}

.quicklink {
    margin-bottom: 30px;
}
.quicklink a {
    display: block;
    background: #f0efe9;
    padding: 10px 50px;
}
.quicklink a:hover, .quicklink a:link {
    text-decoration: none;
}
.quicklink img {
    float: left;
    margin-right: 10px;
}
.quicklink p {
    color: #957858;
    font-family: "Noto Sans TC" , "微軟正黑體" ;
    font-size: 28px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 18px;
}
.quicklink p span {
    font-size: 18px;
    font-family: 'Maven Pro', Verdana, sans-serif; 
    margin-left: 3px;
}
.quicklink p span.fas {
    font-family: "fontAwesome";
    margin-left: 5px;
}


.nav-tabs {
    background: #f6f6f6;
    border-bottom: 1px solid #f0efe9;
}
.nav-tabs li a {
    font-size: 16px;
    padding:15px 40px;
    border-radius: 0;
    border: none;
    color: #4d4d4d;
}
.nav-tabs li.calendar a {
    color: #799c48;
}
.nav-tabs li.calendar span {
    margin-right: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #799c48;
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #799c48;
}
.tab-content {
    padding: 30px 50px;
}
.news_tab .tab-content ul {
    padding-left: 0;
    list-style: none;
}
.news_tab .tab-content ul li {
    margin-bottom: 25px;
}
.tab-content ul a:hover, .tab-content ul a:focus {
    text-decoration: none;
}
.news_tab .tab-content ul .tag {
    font-size: 13px;
    color: #947858;
    display: inline-block;
    border: 1px solid #947858;
    padding: 5px 20px;
    margin-right: 15px;
}
.news_tab .tab-content .date {
    color: #799c48;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-size: 16px;
    margin-right: 15px;
    letter-spacing: 2px;
}
.news_tab .tab-content ul .title {
    font-size: 16px;
    color: #4d4d4d;
    width: calc(100% - 240px);
    display: inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    vertical-align: sub;
}
.news_tab .tab-content ul + .text-center {
    margin-top: 5px;
}
.huccImage {
    height: 440px;
    background: url('../images/huccImage.png');
    background-size: cover;
    margin-bottom: 40px;
    position: relative;
    margin-top: 40px;
}
.huccImage img {
    position: absolute;
    right: 30px;
    top: 90px;
}
.container.products {
    margin-bottom: 40px; 
}
.hpProd { 
    display: block;
    width: 100%;
    margin-bottom: 30px;
    height: 200px;

}
.hpProd01 {
    background: url('../images/hpProds01.png') center center;
}
.hpProd02 {
    background: url('../images/hpProds02.png') center center;
}
.hpProd03 {
    height: 430px;
    background: url('../images/hpProds03.png') center center;
}

.hpProd04 {
    background: url('../images/hpProds04.png') center center;
}

.hpProd05 {
    background: url('../images/hpProds05.png') center center;
}
.hpProd:hover .hpProdText {
    display: block;
}
.hpProdText {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    color: #fff;
    font-size: 22px;
    text-align: center;
    position: relative;
    display: none;

}
.hpProdText p {
    width:100%;
    height:110px;
    margin-bottom: 0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.hpEditors .col-sm-4 {
    padding: 0;
    position: relative;
}
.hpEditors .col-sm-4 a {
    display: block;
    overflow: hidden;
}
.hpEditors .col-sm-4 img {
    width: 100%;
}
.hpEditors .col-sm-4 .hpEditorsText {
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 58%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 58%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 58%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
    padding: 20px 25px 0;
    transition: all .3s; 
}

.hpEditorsText .tag{
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    background: hsl(85, 37%, 45%);
    padding: 5px 15px;
}
.hpEditorsText p {
    color: #fff;
    font-size: 22px;
    font-family: "Noto Sans TC" , "微軟正黑體" ;
    line-height: 26px;
    height: 52px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align:justify;
    text-justify:inter-word;
}
.hpEditors .text-center {
    margin-top: 20px;
    margin-bottom: 40px;
}

.hpEditors .col-sm-4 a:hover .hpEditorsText{
    padding-top: 15px; 
}
.hpEditors .col-sm-4 a:hover img{
    transition: all 1s;     
}
.hpEditors .col-sm-4 a:hover img{
    transform: scale(1.1 , 1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
     
}

.hpRecipe {
    margin-bottom: 80px;
}
.hpRecipeSlider .slick-slide {
    width: 25%;
    padding: 0 15px;
}
.hpRecipeSlider .slick-slide img {
    width: 100%;
}
.hpRecipeSlider .slick-slide p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.hpRecipeSlider .slick-slide p a {
    font-size: 18px;
    color: #4d4d4d;
}


.hpRecipeSlider .slick-arrow{
    position:absolute;
    top: 50%;
    z-index: 1;
    width: 44px;
    height: 54px;
    background: url(../images/slickArrow.png);
    text-indent: -99999px;
    border:0;
    opacity: .7;
}
.hpRecipeSlider .slick-arrow:hover,  .hpRecipeSlider .slick-arrow:focus {
    opacity: 1;
}
.hpRecipeSlider .slick-next{
    right:-55px;
    background-position: 45px 0;
}
.hpRecipeSlider .slick-prev{
    left:-55px;
}

@media (max-width: 1280px) {
    .hpRecipeSlider .slick-prev, .magSlider .slick-prev  {
        left: -35px;
    }
    .hpRecipeSlider .slick-next, .magSlider .slick-next {
        right: -35px;
    }  
}
@media (max-width: 1024px) {
    .hpRecipeSlider {
        width: 90%;
        margin: 0 auto;
    }
    .quicklink a {
        padding: 10px 25px;
    }
}
@media (max-width: 990px) {
    .quicklink img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .quicklink p {
        text-align: center;
        margin-top: 0;
    }
}
@media (max-width: 768px) {

    .hpSpecial::before {
        display: none;
    }
    .hpSpecial .col-sm-6 {
        width: 100%;
    }
    .hpSpecial .col-sm-6:first-child {
        margin-left: 0;
    }
    .hpSpecial .col-sm-6:first-child h2{
        display: block;
        text-align: center;

    }
    .hpSpecial .col-sm-6:first-child span {
        display: block;
        font-size: 20px;
        font-family: 'Maven Pro', Verdana, sans-serif;
        margin-top: 10px;
    }
    .hpSpecial .col-sm-6:first-child span::before, .hpSpecial .col-sm-6:first-child span::after {
        content: '';
        display: inline-block;
        width: 30px;
        height: 2px;
        vertical-align: middle;
        margin: 0 20px;
        position: inherit;
    }

    .hpSpecial .col-sm-6:last-child {
        width: 100%;
        padding-left: 15px;
        margin-top: 30px; 
    }
    .hpSpecial .col-sm-6:last-child h2 {
        display: none;
    }
    .hpSpecial .btn-primary {
        display: block;
        width: 86px;
        margin: 0 auto;
    }
    .hpSpecial .textinfo {
        margin-top: 10px;
    }
    .hpProdText {
        display: block;
    }
    .huccImage {
        margin-bottom: 10px;
    }

}
@media (max-width: 640px) {
    .quicklink p {
        font-size: 22px;
    }
    .quicklink p span {
        font-size: 14px;
    }
}

@media (max-width: 599px) {
    .carousel > div {
        margin-bottom: 20px;
    }
    
    .quicklink {
        padding: 0 20px;
    }
    .quicklink .col-xs-4 {
        padding: 0 5px;
    }
    .quicklink p {
        font-size: 20px;
    }
    .hpProd {
        height: 170px;
        background-size: 100% auto;
        margin-bottom: 10px;
    }
    .hpProducts .col-xs-4 {
        width: 100%;
    }
    .huccImage img {
        position: absolute;
        right: 7%;
        top: 50%;
        width: 86%;
        transform: translateY(-50%);

    }
    .hpEditors .col-sm-4 {
        width: 100%;
        margin-bottom: 10px;
    }
    .news_tab .tab-content ul .title {
        width: 100%;
        display: block;
        margin-top: 5px;
    }
    .news_tab .tab-content ul .tag {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .quicklink .col-xs-4 {
        width: 100%;
        margin-bottom: 10px;
    }
    .quicklink a {
        overflow: auto;
    }
    .quicklink img {
        float: left;
    }
    .quicklink p {
        text-align: left;
        padding-left: 100px;
        margin-bottom: 0;
        margin-top: 15px;
        line-height: 25px;
    }
    .quicklink p span {
        font-size: 18px;
    }
    .nav-tabs li a {
        padding: 15px 25px;
    }
    .wrapper h2 {
        margin-top: 20px;
    }


}


@media (max-width: 375px) {
   .news_tab .nav-tabs li a {
        padding: 15px 13px;
    }
    .news_tab .tab-content {
        padding: 30px 10px;
    }


}