@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?2z3yyn');
  src:  url('../webfonts/icomoon.eot?2z3yyn#iefix') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?2z3yyn') format('truetype'),
    url('../webfonts/icomoon.woff?2z3yyn') format('woff'),
    url('../webfonts/icomoon.svg?2z3yyn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hucc:before {
  content: "\e900";
}
.icon-greenstyle:before {
  content: "\e901";
}
.icon-member:before {
  content: "\e902";
}
.icon-ecshop:before {
  content: "\e903";
}
.icon-classic:before {
  content: "\e904";
}
.icon-bar:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-login:before {
  content: "\e909";
}
.icon-logout:before {
  content: "\e90a";
}
