@charset "utf-8";
@import url(icomoon.css);
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
/* font-family: 'Maven Pro', sans-serif; */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*   font-family: "Noto Sans TC" , "微軟正黑體" ;*/

/*=============
     Basic
==============*/
*, *:focus, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus { outline: none;}
* {    font-family: 'Maven Pro', Verdana, sans-serif ,"微軟正黑體";}
html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
/* br { line-height: 1.8em; } */
/*=============
     Layout
==============*/
html, body { height: 100%; }
body {
    color:#4d4d4d;
    padding:0px;
    margin:0px;
    font-size:15px;
}

/* header */
header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f0efe9;
    position: fixed;
    z-index: 50;
}
.logo { 
    height: 64px;
    position: relative;
}
.huccPage .logo img { margin-top: 7px;}
.greenPage .logo img { margin-top: 15px;}
.icon-bar {
    position: absolute;
    left: 22px;
    font-size: 32px;
    top: 15px;
    cursor: pointer;
}
.logo .icon-bar {
    color: #fff;
}

header .main-nav { background: #fff; padding: 8px 0;}
header .nav>li {
    display: inline-block;
    margin: 0 15px;
}

.main-nav .nav > li > a {
    font-size: 18px;
    color: #4d4d4d;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
}

.main-nav .nav>li>a:focus, .main-nav .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: all .1s ; 
    transition: all .1s ; 
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}

.main-nav .dropdown-menu {
    min-width: 180px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 16px;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0; 
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-nav .dropdown-menu>li>a {
    padding: 8px 10px;
    font-weight: normal;
    color: #4d4d4d;
}
.headicon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    font-size: 30px;
    color: #fff;
    line-height: 40px;
}
.headicon:hover, .headicon:focus {
    text-decoration: none;
    color: #fff;
}
.headicon-user, .headicon-login {
   right: 60px;
}
.headicon-search {
right: 20px;
}
.headicon-user {
    display: none;
}






.huccPage header { background: #799c48; }
.huccPage .main-nav .dropdown-menu>li>a:hover {
    background: #799c48;
    color: #fff;
}
.huccPage .main-nav .nav>li>a:focus, 
.huccPage .main-nav .nav>li>a:hover  {
    color: #799c48;
    border-bottom: 2px solid #799c48;
}

.greenPage header { background: #5c7537; }
.greenPage .main-nav .dropdown-menu>li>a:hover {
    background: #5c7537;
    color: #fff;
}
.greenPage .main-nav .nav>li>a:focus, 
.greenPage .main-nav .nav>li>a:hover  {
    color: #5c7537;
    border-bottom: 2px solid #5c7537;
}



/* sidebar */
.sidebar {
    position: fixed;
    left: -310px;
    top: 0;
    z-index: 200;
    height: 100vh;
    width: 300px;
    background: #fff;
    box-shadow: 1px 0 5px #777;
    overflow-y: auto;
    font-size: 16px;
    -webkit-transition: left .3s linear; /* Safari */
    transition:left .3s linear;
}
.sidebar.open {
    left: 0px;
}

.headdrop-search {
    background: #f0efe9;
    position: absolute;
    width: 100%;
    padding: 50px;
    top: 100%;
    z-index: 50;
    border-bottom: 1px solid #fff;
    display: none;
}
.headdrop-user {
    background: #f0efe9;
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 100%;
    z-index: 50;
    border-bottom: 1px solid #fff;
    display: none;
}
.searchSet {
    position: relative;
}
.searchSet  input{
    padding: 12px 42px 12px 12px;
    width: 100%;
    line-height: 1.6em;
    border: 1px solid   #f2f2f2;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.searchicon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    right: 6px;
    top: 6px;
    font-size: 30px;
    color: #799c48;
}
.searchicon:hover, .searchicon:focus {
    color: #799c48;
    text-decoration: none;
}


.headdrop-user a {
    display: block;
    font-size: 24px;
    line-height: 40px;
    color: #799c48;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.headdrop-user a:last-child {
    border-bottom: 0;
}
.headdrop-user a span {
    font-size: 18px;
    margin-right: 3px;
}
.headdrop-user a:hover, .headdrop-user a:focus {
    text-decoration: none;
    color: #799c48;
}

.sidebarMain >  ul {
    margin-top: 70px;
}
.sidebarMain  ul {
    padding-left: 0;
}
li.pfhead {
    list-style: none;
    line-height: 40px;
    margin-bottom: 20px;
}
li.pfhead > a {
    color: #777;
    display: block;
    position: relative;
    padding-left: 60px;
}
li.pfhead a:hover, li.pfhead a:focus {
    text-decoration: none;
}
li.pfhead:before {
    font-family: 'icomoon';
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    vertical-align: bottom;
    position: absolute;
    left: 15px;
}
.pfhead-hucc:before {
    content: '\e900'; 
}
.pfhead-green:before {
    content: '\e901'; 
}
.pfhead-member:before {
    content: '\e902'; 
}
.pfhead-ecshop:before {
    content: '\e903'; 
}
.pfhead-ucms:before {
    content: '\e904';   
}

.sidebar_mainnav {
    list-style: none;
    margin-top: 20px;
}
.sidebar_mainnav > li > a {
    display: block;
    padding-left: 60px;
    color: #4d4d4d;
}
.sidebar_mainnav li ul {
    display: none;
    padding-left: 80px;
    list-style-type: disc;
    color: transparent;
}
.sidebar_mainnav li ul li a {
    color: #4d4d4d;
}
.pfhead-ecshop {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 22px;
    padding-bottom: 22px;
}
.sidebarSocial {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 50px;
}
.sidebarSocial li {
    display: inline-block;
    font-size: 24px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 5px;
}
.sidebarSocial li a {
    color: #cfcfcf;
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0,0,0,.3);
    display: none;
}


.huccPage li.pfhead.active:before {
    color: #799c48;
}
.huccPage li.pfhead.active > a {
    color: #799c48;   
}
.huccPage .sidebar_mainnav > li > a {
    color: #799c48;
}
.huccPage .sidebar_mainnav > li.active > a,
.huccPage .sidebar_mainnav > li > a:hover,
.huccPage .sidebar_mainnav > li > a:focus {
    background: #799c48;
    color: #fff;
}
.huccPage  .sidebar_mainnav li ul > li:hover,
.huccPage  .sidebar_mainnav li ul > li:focus {
    color: #799c48;
}




.greenPage li.pfhead.active:before {
    color: #5c7537;
}
.greenPage li.pfhead.active > a {
    color: #5c7537;   
}
.greenPage .sidebar_mainnav > li > a {
    color: #5c7537;
}
.greenPage .sidebar_mainnav > li.active > a,
.greenPage .sidebar_mainnav > li > a:hover,
.greenPage .sidebar_mainnav > li > a:focus {
    background: #5c7537;
    color: #fff;
}
.greenPage  .sidebar_mainnav li ul > li:hover,
.greenPage  .sidebar_mainnav li ul > li:focus {
    color: #5c7537;
}
.greenPage .searchicon,
.greenPage .searchicon:hover, .greenPage .searchicon:focus,
.greenPage .headdrop-user a,
.greenPage .headdrop-user a:hover, .greenPage .headdrop-user a:focus {
    color: #5c7537;
}





/* wrapper */
.wrapper {
    padding-top: 124px;
}

/* footer */
footer {
    background: #4d4d4d;
    padding: 70px 0;
    margin-top: 40px;
}
footer .sitemap h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}
footer .sitemap ul {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    line-height: 28px;
}
footer .sitemap ul li a {
    color: #f2f2f2;
}
footer .sitemap ul li a:hover {
    color: #fff;
    text-decoration: none;
}
footer .sitemap ul + h4 {
    margin-top: 40px;
}
.footinfo {
    border-top: 1px solid #5c5c5c;
    margin-top: 30px;
    padding-top: 50px;
}
.copyright {
  font-size: 13px;
  line-height: 18px;  
  margin-top: 8px;
  margin-bottom: 0;
}
.copyright a {
    color: #799c48;
}
.greenPage .copyright a {
    color: #8bb221;
}
.footinfo .social {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.footinfo .social li {
    font-size: 22px;
    display: inline-block;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
}
.footinfo .social li + li {
    margin-left: 5px;
}
footer .edm {
    width: 350px;
    position: relative;
}
footer .edm h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    color: #f2f2f2; 
}
.pastedm {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #a8a8a8;
    top: 3px;
}
.pastedm:hover,.pastedm:focus {
    color: #f2f2f2; 
    text-decoration: none;
}
.edmSet {
    width: 100%;
    background: #cccccc;
    height: 36px;
    position: relative;
}
.edmSet input[type="text"] {
    border: none;
    background: transparent;
    line-height: 30px;
    padding: 3px 10px;
    color: #4d4d4d;
    width: calc(100% - 90px);
}
.edmSet input[type="submit"] {
    width: 90px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
.foot-nav  {
    padding-left: 0;
    list-style: none;
    margin-top: 5px;
}
.foot-nav li {
    display: inline;
    font-size: 14px;
    margin-right: 10px;
}
.foot-nav li a {
    color: #cccccc;
}
.foot-nav li a:hover , .foot-nav li a:focus {
    color: #f2f2f2; 
    text-decoration: none;
}
.huccPage footer .sitemap h4 {
    color: #799c48;
}
.huccPage footer{
    color: #799c48;
}
.huccPage .footinfo .social li a {
    color: #799c48;
}
.huccPage .edmSet input[type="submit"] {
    background: #799c48;
}
.greenPage footer .sitemap h4 {
    color: #8bb221;
}
.greenPage footer{
    color: #8bb221;
}
.greenPage .footinfo .social li a {
    color: #8bb221;
}
.greenPage .edmSet input[type="submit"] {
    background: #8bb221;
}










/*components cover*/
.btn:focus, .btn.active, .btn:active, .btn.active.focus, .btn.active:focus, .btn.active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover {
    box-shadow: none;
}
.btn {
    /* background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(102, 103, 102, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, 
    color .5s ease 0s, background-color .5s ease;  */

	transition: color .5s ease 0s, background-color .5s ease; 
}
.btn-func {
    color: #777777;
    border: 1px solid #777777;
    padding: 3px 12px;
}

.btn-func:hover, .btn-func:focus{
    color: #fff;
	background-color:rgba(102, 102, 102, 1);
	background-position: -100% 100%;
}
.btn-primary {
    border: 1px solid #799c48;
    font-family: 'Maven Pro', verdana, sans-serif , "微軟正黑體";
    border-radius: 25px;
    /* background-size: 200% 100%;	
    background-image: linear-gradient(to right, transparent 50%, rgba(120, 140, 72, 1) 50%); */
    line-height: 24px;
    background: #fff;
    color: #799c48;
    font-size: 18px;
    padding: 5px 20px;
}
.btn-second {
    border: 1px solid #957858;
    background: #957858 !important;
    font-family: 'Maven Pro', verdana, sans-serif , "微軟正黑體";
    border-radius: 25px;
    /* background-size: 200% 100%;	
    background-image: linear-gradient(to right, transparent 50%, rgba(140, 115, 85, 1) 50%); */
    line-height: 24px;
}


.greenPage .btn-primay {
    border: 1px solid #5c7537;
    color: #5c7537;
    /* background-image: linear-gradient(to right, transparent 50%, rgba(95, 117, 53, 1) 50%); */
}

.btn-primary:hover {
    background: #799c48;
    border-color: #799c48;
}
/* .btn-primary:hover, .btn-primary:focus{
    background-image: linear-gradient(to right, transparent 50%, #799c48 50%);
    background-size: 200% 100%;	
    background-position: -100% 100%;
    border: 1px solid #799c48;
} */
.btn-second:hover, .btn-second:focus{
    background-image: linear-gradient(to right, transparent 50%, #957858 50%);
    background-size: 200% 100%;	
    background-position: -100% 100%;
    border: 1px solid #957858;
}


.btn-primary:hover, 
.btn-primary:focus, 
.btn.active, 
.btn-primary:active, 
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover {
    /* background-image: linear-gradient(to right, transparent 50%, rgba(120, 140, 72, 1) 50%);
    background-size: 200% 100%;	
    background-position: -100% 100%; */
    background: #799c48;
    border: 1px solid #799c48;
}

.btn-primary.btn-solid:hover, 
.btn-primary.btn-solid:focus {
    background: #6d8c41;
    border: 1px solid #6d8c41; 
}




.btn-second:hover, 
.btn-second:focus, 
.btn.active, 
.btn-second:active, 
.btn-second.active.focus, 
.btn-second.active:focus, 
.btn-second.active:hover, 
.btn-second:active.focus, 
.btn-second:active:focus, 
.btn-second:active:hover {
    /* background-image: linear-gradient(to right, transparent 50%, rgba(140, 115, 85, 1) 50%);
    background-size: 200% 100%;	
    background-position: -100% 100%; */
    background: #866c4f !important;
    border: 1px solid #866c4f;
    color: #fff;

}


.greenPage .btn-primary:hover, .greenPage .btn-primary:focus{
    background-image: linear-gradient(to right, transparent 50%, rgba(95, 117, 53, 1) 50%);
    border: 1px solid #5c7537;
}

.greenPage .btn-primary:focus, 
.greenPage .btn.active, 
.greenPage .btn-primary:active, 
.greenPage .btn-primary.active.focus, 
.greenPage .btn-primary.active:focus, 
.greenPage .btn-primary.active:hover, 
.greenPage .btn-primary:active.focus, 
.greenPage .btn-primary:active:focus, 
.greenPage .btn-primary:active:hover {
    background-image: linear-gradient(to right, transparent 50%, rgba(95, 117, 53, 1) 50%);
    border: 1px solid #5c7537;
    
}

.modal-content {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 50px;
    position: relative;
}
.form-control {
    color: #4d4d4d;
}
.form-control-icon {
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 5px;
    width: 34px;
    line-height: 45px;
    text-align: center;
    color: #777777;
    font-size: 14px;
}
.has-icon {
    position: relative;
    margin-bottom: 30px;
}
.has-icon input {
    padding-left: 35px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
}
.has-icon input:focus {
    border: 0;
    border-bottom: 1px solid #4D4D4D;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-header {
    border-bottom: 0;
}
.modal-title {
    text-align: center;
    color: #799c48;
    font-size: 22px;
}
.modal-body [type="submit"]{
    font-size: 16px;
    line-height: 1.8em;
    padding: 10px 0;
    margin-top: 60px;
}
.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: .3;
}
.forget-pw a {
    font-size: 15px;
    color: #777;
}
.greenPage .modal-title {
    color: #5c7537;
}

/* pagination */
nav[aria-label="Page navigation"] {
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #799c48;
}
.pagination>li>a, .pagination>li>span {
    border: 0;
    color: #a5a5a5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #799c48;
    background-color: transparent;
    border-color: #799c48;
}
.pagination>li {
    position: relative;
}
.pagination>li.active:after {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    background: #799c48;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: calc(50% - 7px);
}
.pagination>li>a:active, .pagination>li>span:active, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #666666;
    background-color: transparent;
    border-color: transparent;
}
.pagination>li>a[aria-label="Previous"], .pagination>li>a[aria-label="Next"] {
    padding: 6px 12px;
}
.pagination .fas {
    font-size: 12px;
}
.pagination>li>a[aria-label="Previous"]:focus span, .pagination>li>a[aria-label="Next"]:focus span {
    color: #799c48;
}
#modal-login .modal-foot {
    font-size: 13px;
    margin-top: 15px;
    color: #777777;
    background: #f0efe9;
    padding: 20px;
    border-radius: 3px;
}

#modal-login .modal-foot a, #modal-login .modal-foot a:hover , #modal-login .modal-foot a:focus{
    color: #799c48;
}
#modal-login  .modal-foot > ul {
    padding-left: 20px;
}
#modal-login .modal-foot > ul.modal-link {
    padding-left: 0;
    list-style: none;
    margin-top: 5px;
}

#modal-login .modal-link li {
    display: inline-block;
    padding:0px 10px;
    border-right: 1px solid #666;
    line-height: 1em;
}
#modal-login .modal-link li:first-child { padding-left: 0;}
#modal-login .modal-link li:last-child { border-right: 0;}




.greenPage nav[aria-label="Page navigation"] {
    border-top: 1px solid #5c7537;
}

.greenPage .pagination>.active>a, .greenPage .pagination>.active>a:focus, .greenPage .pagination>.active>a:hover, 
.greenPage .pagination>.active>span, .greenPage .pagination>.active>span:focus, .greenPage .pagination>.active>span:hover {
    color: #5c7537;
    border-color: #5c7537;
}
.greenPage .pagination>li.active:after {
    background: #5c7537;
}

.greenPage .pagination>li>a[aria-label="Previous"]:focus span, .greenPage .pagination>li>a[aria-label="Next"]:focus span {
    color: #5c7537;
}
.greenPage #modal-login .modal-foot a, .greenPage #modal-login .modal-foot a:hover , .greenPage #modal-login .modal-foot a:focus{
    color: #5c7537;
}


.wrapper h2 {
    color: #4d4d4d;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper h2 span {
    display: block;
    font-size: 20px;
    font-family: 'Maven Pro', Verdana, sans-serif; 
    color: #799c48;  
    margin-top: 10px;
}
.wrapper h2 span::before , .wrapper h2 span::after{
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #799c48;
    vertical-align: middle;  
    margin: 0 20px;
}
.greenPage .wrapper   h2 span {
    color: #5c7537; 
}
.greenPage .wrapper h2 span::before , .greenPage .wrapper h2 span::after{
    background: #5c7537; 
}


.hpSpecial {
    margin: 40px 0;
    position: relative;
    padding-top: 30px;
}
.hpSpecial::before{
    width: 35%;
    height:350px;
    background: #f0efe9;
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;

}
.hpSpecial img {
    width: 100%;
    height: auto;
}
.hpSpecial .col-sm-6:first-child {
    margin-left: 30px;
}
.hpSpecial .col-sm-6:last-child {
    width: calc( 50% - 70px);
    padding-left: 20px;

}
.hpSpecial .col-sm-6 h2 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 50px;
    position: relative;
    font-size: 26px;
}
.hpSpecial .col-sm-6:first-child h2 {
    display: none;
}
.hpSpecial .col-sm-6 h2 span {
    display: inline-block;
    margin-top: 0;
    line-height: 32px;
    vertical-align: top;
    margin-left: 15px;
}
.hpSpecial .col-sm-6 h2 span::before {
    display: block;
    width: 100% ;
    position: absolute;
    bottom: -15px;
    margin-left: 0;
    left: 0;
}
.hpSpecial .col-sm-6 h2 span::after {
    display: none;
}
.hpSpecial a.title {
    font-size: 22px;
    color: #4d4d4d;
    margin-bottom: 30px;
}
.hpSpecial .textinfo {
    font-size: 15px;
    text-align: justify;
    text-justify:inter-ideograph; 
    margin-top: 30px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.hpSpecial .textinfo a{
    color: #a5a5a5;

}
/*=============
    common
==============*/
ol,ul {
    padding-left: 20px;
}

/*=============
     RWD
==============*/



@media (max-width: 767px) {
    footer {
        background: #4d4d4d;
        padding: 50px 20px 20px;
    }
    footer .edm {
        margin: 0 auto;
    }
    .foot-nav {
        width: 350px;
        margin: 5px auto;
    }
    footer > .container {
         display: none;
    }
    .footinfo {
        border: none;
        margin-top: 0;
        padding-top: 0;
    }
    .footinfo .col-sm-6 + .col-sm-6 {
        margin-top: 30px;
        text-align: center;
    }
    .footinfo .col-sm-6:last-child img {
       width: 240px;
    }
    .copyright {
        font-size: 12px;
    }

    .main-nav { display: none;}
    .wrapper { padding-top: 65px;}
}

@media (max-width: 414px) {
    footer .edm, .foot-nav {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .logo a:first-child {
        position: absolute;
        left: 55px;
    }
    .icon-bar {
        left: 10px;
    }
    .headicon-search {
        right: 10px;
    }
    .headicon-user, .headicon-login {
        right: 45px;
    }
    .greenPage .logo img {
        transform: scale(0.7);
    }
    .greenPage .logo a:first-child {
        position: absolute;
        left: 15px;
    }
}