@charset "utf-8";
/*=================================

  【  專屬於綠主張 列表  】

==================================*/




/*=== green "food" list caption ===*/

.food_list .green_tag {
    margin-top: 41px;
}

.food_list .food_grid .thumbnail {
    padding: 0px;
    border: 0px solid #ddd;
}

.food_list .food_grid .caption {
    background: #f1efe9;
}

.food_list .food_grid .caption h3 {
    margin-top: 42px;
    font-size: 17px;
    text-align: center;
    color: #4d4d4d;
    font-weight: normal;
}

.food_list .food_grid .caption h3 a {
    padding: 0px 9px;
    color: #4d4d4d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 20px;
}

.food_list .food_grid .caption h3 a:hover {
    color: #5c7537;
    text-decoration: none;
}

.food_list .food_grid .caption h3::before {
    content: " ";
    width: 42px;
    height: 1px;
    display: block;
    background: #5c7537;
    margin: 4px auto -32px auto;
    ;
}

.food_list .food_grid img:hover {
    opacity: 0.7;
}

/*調整圖片col-md-4位置*/

.food_list .food_grid .col-md-4 .thumbnail {
    margin-bottom: 58px;
}

.food_list .food_grid .col-md-4 img {
    position: relative;
}

.food_list .food_grid .col-md-4 .caption {
    position: absolute;
    margin-top: -33px;
    width: 90%;
}

/*food search*/

.food_list .searchSet input {
    border: 1px solid #ddd;
}

/*food sort*/

.food_list .food_sort {
    margin-top: 48px;
}

.food_list .food_sort h4 {
    font-weight: normal;
    letter-spacing: 1px;
    color: #5C7537;
}

.food_list .food_sort h4::before {
    content: " ";
    width: 173px;
    height: 1px;
    display: block;
    background: #5c7537;
    margin: 0 0 -10px 87px;
}

.food_list .food_sort .sort {
    list-style: none;
    padding-left: 8px;
    margin-top: 19px;
}

.food_list .food_sort .sort li {
    margin-bottom: 6px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 6px;
    color: #666;
}

.food_list .food_sort .sort i {
    padding-right: 8px;
    color: #666;
}

.food_list .food_sort .sort a {
    color: #666;
}

/*=== 食譜內頁文章 foodinner  ===*/

.foodinner_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* h2 */

.foodinner .foodinner_content .section_title {
    text-align: left;
    margin: 45px 0px 12px 0px;
    font-size: 28px;
    line-height: 36px;
    color: #5c7537;
    width: calc(100% - 155px);
    display: inline-block;
}

.foodinner .addthis_inline_share_toolbox {
    float: right;
    display: inline-block;
    margin-top: 50px;
}


.foodinner .foodinner_content .section_title::before {
    content: " ";
    width: 0px;
    height: 0px;
    display: none;
    background: #eee;
    margin: 0px
}

.foodinner .foodinner_content .date {
    color: #999;
    font-size: 15px;
}

.foodinner .foodinner_content .label {
    display: inline;
    background: #5c7357;
    border-radius: 0px;
    color: #fff;
    font-size: 15px;
    margin: 0px -3px 0px 10px;
    vertical-align: middle;
    font-weight: normal;
    padding: 3px 10px;
}

.foodinner .foodinner_content .label::before {
    display: none;
}

.foodinner .foodinner_content .label::after {
    display: none;
}

/*食譜內頁材料、調味條、*/

.foodinner .foodinner_container .content ul {
    padding-left: 0px;
    margin: 18px 0px;
}

.foodinner .foodinner_container .content ul li {
    display: inline-block;
    width: 30%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 9px;
    margin: 0 9px 11px;
}

.foodinner .foodinner_container .content ul li::before {
    content: "・";
    width: 3px;
    display: inline;
}

.foodinner .foodinner_container .content ul li .quantity {
    float: right;
}

.foodinner .foodinner_container .content ol {
    list-style: none;
    counter-reset: li;
    margin: 18px 0px;
    padding-left: 40px;
    margin-bottom: 30px;
}

.foodinner .foodinner_container .content ol li {
    margin-bottom: 11px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 9px;
    counter-increment: li
}

.foodinner .foodinner_container .content ol li:last-child {
    border-bottom: none;
}

.foodinner .foodinner_container .content ol li::before {
    content: counter(li);
    color: #f5f5f5;
    display: inline-block;
    background: #5c7357;
    border-radius: 50%;
    width: 22px;
    margin-left: -36px;
    text-align: center;
    direction: rtl;
    margin-right: 13px;
}

/*tips*/

.foodinner .foodinner_container .content .tips {
    border: 2px solid #5c7357;
    padding: 13px 26px;
    border-radius: 12px;
    margin-bottom: 45px;
}

.foodinner .foodinner_container .content .tips h4 {
    font-size: 19px;
    color: #5c7357;
}

.foodinner .foodinner_container .content .tips i {
    margin-right: 8px;
}

.foodinner .foodinner_container .content .tips p {
    font-size: 15px;
    line-height: 1.8;
}

/*content*/

.foodinner .foodinner_content .content {
    margin-top: 37px;
}

.foodinner .foodinner_content .content h3 {
    font-size: 18px;
    color: #5c7357;
    border-bottom: 2px solid #5c7357;
    padding-bottom: 10px;
}

.foodinner .foodinner_content .content p {
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
    color: #555;
}

.foodinner .foodinner_content .content img {
    width: 100%;
    margin: 30px 0px;
}

/* tag */

.foodinner .foodinner_content .content .green_tag ul {
    padding: 0px;
}

.foodinner .foodinner_content .content .green_tag ul li {
    list-style: none;
    border: 1px solid #8bb220;
    border-radius: 37px;
    display: inline;
    padding: 5px 13px;
    color: #4d4d4d;
    margin: 0px 2px;
}

.foodinner .foodinner_content .content .green_tag ul li::before {
    content: "#";
    color: #8bb220;
    padding-right: 5px;
}







/*=================================

  【  RWD  】

==================================*/

/*topic RWD*/

@media (min-width: 400px) and (max-width: 767px) {
    .alllist .thumbnail {
        height: 100%;
    }
    .alllist .thumbnail .caption p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .alllist .thumbnail .caption p {
        font-size: 15px;
        line-height: 24px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
        max-height: 203px;
    }
}

@media (min-width: 520px) and (max-width: 767px) {
    .alllist .thumbnail .caption h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        max-height: 33px;
    }
}

@media (max-width:767px) {
    .alllist .thumbnail .caption h3 {
        height: auto;
    }
    .alllist .thumbnail:hover .caption h3 {
        height: auto;
    }
}

@media (max-width:414px) {
    .alllist .thumbnail {
        height: auto;
    }
    .greenPage .topic .thumbnail .caption p {
        margin-bottom: 22px;
    }
    .greenPage .topic .thumbnail .caption h3 {
        height: auto;
    }
}

/*article RWD*/

@media (min-width: 400px) and (max-width: 767px) {
    .greenPage .article .thumbnail {
        height: 100%;
    }
    .greenPage .article .caption p {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

/*foodlist RWD*/

@media (min-width: 992px) and (max-width: 1199px) {
    .food_list .food_sort h4::before {
        content: " ";
        width: 124px;
        height: 1px;
        display: block;
        background: #5c7537;
        margin: 0 0 -10px 87px;
    }
    .food_list .food_grid .col-md-4 .caption {
        width: 88%;
    }
}

@media (max-width: 991px) {
    .food_list .food_sort {
        display: none;
    }
    .food_list .green_tag {
        display: none;
    }
    .food_list .food_grid .green_tag {
        display: inherit;
    }
    .food_list .food_grid .col-md-4 img {
        position: unset;
        width: 100%;
    }
    .food_list .food_grid .col-md-4 .caption {
        position: unset;
        margin-top: 0px;
        width: 100%;
    }
    .food_list .food_grid .col-md-4 .thumbnail {
        margin-bottom: 20px;
    }
    .food_list .food_grid .searchSet {
        margin: 0px 15px 26px 15px;
    }
    .food_list .food_list_side {
        margin-bottom: 20px;
    }
}

@media (min-width: 991px) {
    .food_list .food_grid .green_tag {
        display: none;
    }
}


/*食譜內頁RWD*/

@media (min-width: 768px) {
    .foodinner_container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .foodinner_container {
        width: 928px;
    }
}

@media (min-width: 1200px) {
    .foodinner_container {
        width: 900px;
    }
}





@media (max-width: 720px) {
    .foodinner .foodinner_container .content ul li {
        width: 46%;
    }
}

@media (max-width: 585px) {
    .foodinner .foodinner_container .content ul li {
        width: 44%;
    }
}

@media (max-width: 405px) {
    .foodinner .foodinner_container .content ul li {
        width: 100%;
    }
}

/*專題首頁*/

@media (max-width: 1199px) {
    .topic_hp .hp_list .thumbnail {
        height: 543px;
    }
}

@media (max-width: 991px) {
    .topic_hp .hp_list [class^="col-"]:nth-child(3n) {
        border-right: 1px solid #ddd;
    }
    .topic_hp .hp_list [class^="col-"]:nth-child(2n) {
        border-right: 1px solid transparent;
    }
}

@media (max-width: 767px) {
    .topic_hp .hp_list [class^="col-"] {
        border-right: 0;
    }
    .topic_hp .hp_list .thumbnail {
        height: auto;
    }
    .foodinner .foodinner_content .section_title {
        width: 100%;
        display: block;
    }
    
    .foodinner .addthis_inline_share_toolbox {
        float: none;
        display:block;
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
    @media(min-width: 477px)and (max-width: 767px) {
        .topic_hp .thumbnail .caption h3 {
            font-size: 22px;
            font-weight: normal;
            line-height: 30px;
            margin-top: 15px;
            height: 36px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            max-height: 30px;
        }
        .topic_hp .hp_list .thumbnail img {
            width: 100%;
        }
        .topic_hp .hp_list .thumbnail {
            margin-bottom: 50px;
        }
    }
    @media (max-width: 477px) {
        .topic_hp .hp_list .thumbnail {
            margin-bottom: 47px;
        }
        .topic_hp .hp_content {
            padding: 0px 12px;
        }
    }






