@charset "utf-8";
.tag {
    font-size: 13px;
    color: #947858;
    display: inline-block;
    border: 1px solid #947858;
    padding: 2px 8px;
    margin-right: 5px;
    vertical-align: bottom;
}


/* product */

.protype .col-sm-4 {
    position: relative;
    margin-top: 15px;
    margin-bottom: 35px;
}

.protype .col-sm-4 .prodimg {
    float: left;
    width: 166px;
    height: 166px;
    border: 3px solid transparent;
    border-radius: 50%;
    overflow: hidden;
}

.protype .col-sm-4 p {
    padding-left: 175px;
    margin-bottom: 0;
}

.protype .col-sm-4 a:hover,
.protype .col-sm-4 a:focus {
    text-decoration: none;
}

.protype .col-sm-4 .title {
    font-size: 22px;
    color: #4d4d4d;
    margin-top: 40px;
}

.protype .col-sm-4 .textinfo {
    font-size: 16px;
    color: #a5a5a5;
}

.prodicon {
    position: absolute;
    width: 160px;
    height: 160px;
    background: rgba(0, 0, 0, .45);
    border-radius: 50%;
    left: 18px;
    top: 3px;
    text-align: center;
    z-index: 10;
    display: none;
}

.prodicon img {
    margin-top: 48%;
    transform: translateY(-50%);
}

.protype .col-sm-4 a:hover .title {
    color: #799c48;
}

.protype .col-sm-4 a:hover .prodimg {
    border: 3px solid #799c48;
}

.protype .col-sm-4 a:hover .prodimg img {
    transform: scale(1.05);
    transition: all .5s;
}

.protype .col-sm-4 a:hover .prodicon {
    display: block;
}

.prodlist {
    display: flex;
    flex-wrap: wrap;
}

.prodlist .col-sm-3 {
    margin-bottom: 40px;
}

.prodlist .col-sm-3 img {
    margin-bottom: 10px;
    width: 100%;
}

.prodlist p {
    margin-bottom: 0;
}

.prodlist .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.prodlist .title a {
    font-size: 18px;
    color: #4d4d4d;
    line-height: 26px;
}

.prodlist .title a:hover,
.prodlist .title a:focus {
    text-decoration: none;
}

.prodlist .price {
    color: #799c48;
    font-size: 22px;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-weight: 400;
}

.prodsale .price {
    text-decoration: line-through;
}

.searchbar {
    margin-bottom: 65px;
}

.selectArea {
    background: #fff;
    height: 50px;
    border-radius: 2px 0 0 2px;
    width: calc(100% - 70px);
    float: left;
}

.selectArea select {
    font-size: 16px;
    display: inline-block;
}
/* prodInfo */
.prodCarousel {
    margin-bottom: 0;
}
.prodCarousel img {
    width: 100%;
}
.prodInfo .title{
    font-size: 26px;
    margin-bottom: 5px;
}

.prodInfo .tags span {
    color: #fff;
    background: #799c48;
    padding: 3px 10px;
    margin-right: 5px;
}

.prodInfo .textinfo {
    margin-top: 40px;
    color: #4d4d4d;
    padding-bottom: 40px;
    border-bottom: 1px solid #f0efe9;
    line-height: 1.8em;

}
.prodInfo .stockinfo {
    overflow: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0efe9; 
    margin-bottom: 30px;
}
.prodInfo .stockinfo p {
    color: #799c48;
    font-size: 26px;
    font-family: 'Maven Pro', Verdana, sans-serif;
    float: left;
    margin-bottom: 0;
}
.prodInfo .stockinfo p span {
    font-weight: bold;
    display: block;
    font-size: 15px;

}
.btn-primary.btn-solid {
    background: #799c48;
    color: #fff;

}

.prodInfo .btn-solid {
    float: right;
    padding: 10px 35px;
    font-size: 18px;
}
.saleinfo .tag {
    font-size: 14px;
    padding:  5px 30px;
    margin-right: 8px;
    border-radius: 2px;
}



select.custom-select {
    margin-top: 1px;
    display: inline-block;
    width: 100%;
    padding: 15px;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    background: #fff url('../images/select.svg') no-repeat right .75em center;
    background-size: 8px 10px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select.custom-select.half-select {
    width: 49%;
}

.half-select+.half-select {
    margin-left: 1%;
}

.searchSet .select-submit {
    width: 67px;
    background: #fff;
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 0 2px 2px 0;
    height: 50px;
    margin: 0 0 0 3px;
}

button[type="submit"].searchicon {
    position: static;
    float: right;
}


.nav-tabs {
    background: #f6f6f6;
    border-bottom: 1px solid #f0efe9;
}
.nav-tabs li a {
    font-size: 16px;
    padding:15px 40px;
    border-radius: 0;
    border: none;
    color: #4d4d4d;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #799c48;
    border: none;
    border-bottom: 1px solid #799c48;
    background-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #799c48;
}
.tab-content {
    padding: 30px 0;
}
.prodSpec {
    list-style: none;
    padding-left: 0;
}
.prodSpec li {
    margin-bottom: 20px;
    padding-left: 120px;
    position: relative;
}
.prodSpec li span {

    position: absolute;
    left: 0;
}

.producer {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;

}
.producer img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.producer .title{
    font-size: 18px;
    color: #799c48;
    padding-left: 140px;
    margin-bottom: 5px;
}
.producer blockquote {
    padding: 25px  20px 25px 140px ;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: none;
    background: #e4ebda;
    border-radius: 50px;
}
.producer blockquote::before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
    color: #799c48;
    opacity: .5;
}
.producer blockquote::after {
    content: '\f10e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
    color: #799c48;
    opacity: .5;
}

.prodTab {
    margin-top: 30px;
}
.prodTab .tab-content {
    padding-bottom: 50px;
    border-bottom: 1px solid #f0efe9;
    
}
.prodTab .tab-content > div{
    overflow: auto;
}
.prodFeatures {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    border-bottom: 1px solid #f0efe9;
}
.prodFeatures:last-child {
    border-bottom: none;
}
.prodFeatures .col-xs-3 {
    text-align: center;
    font-size: 20px;
}
/* weekly */
.weeklyHead {
    height: 270px;
    background: url('../images/weeklyhead.png') center center;
}
.weeklyHead > div {
    width: 410px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    font-family: 'Maven Pro', Verdana, sans-serif , '微軟正黑體';
}
.weeklyMW {
    font-size: 20px;
    position: absolute;
    top: 130px;
    right: 100px;

}
.weeklyMW span {
    font-size: 30px;
}
.weeklydate {
    width: 290px;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    position: absolute;
    left: calc(50% - 145px);
    bottom: 35px;

}
.weeklyFocus img {
    width: 100%;
}
.weeklyFocus a.title {
    font-size: 22px;
    color: #4d4d4d;
    margin-bottom: 30px;
}
.weeklyFocus .textinfo {
    font-size: 15px;
    text-align: justify;
    text-justify:inter-ideograph; 
    margin-top: 30px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.weeklyFocus .textinfo a{
    color: #a5a5a5;

}
.weeklyFocus > .row {
    margin-bottom: 40px;
}

.weeklyAccordion .fas {
    font-size: 14px;
    margin-left: 3px;
}
.weeklyAccordion {
    padding-top: 70px;
    border-top: 1px solid #f0efe9;
}

.accordion h3 {
    font-size: 18px;
    color: #799c48;
    font-weight: normal;
    position: relative;
    padding-left: 30px;
    line-height: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: justify;
    text-justify: inter-ideograph;
}
.accordion h3:hover {
    color: #799c48;
}
.accordion h3 span {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: 1;
    color: #fff; 
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 0;

}

.accordion .accordion-head  .fas {
    margin-left: 0;
    font-size: 12px;
}
.accordion h3:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #799c48;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}
.accordion-content {
    padding-left: 30px;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    text-justify: inter-ideograph;
    display: none;
}
.weekly-pdf {
    border-bottom: 1px solid #f0efe9;
    display: flex;
    align-items:center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.weekly-pdf:last-child { 
    border-bottom:0; 
    padding-bottom: 0;
    margin-bottom: 0;
}
.pdf-area {
    font-size: 20px;
    line-height: 30px;
    width: 200px;
    float: left;
    text-align: center;
} 
.btn-pdf{
   display: inline-block;
   background: #f0efea;
   width: 142px;
   height: 122px;
   text-align: center;
   margin: 10px 5px;
   color: #987754;
   position: relative;
   border-radius: 3px;
   border: 2px solid #f0efea;


}
.btn-pdf:hover, .btn-pdf:focus {
    text-decoration: none;
    color: #987754;
    border-color: #987754;
}

.btn-url {

    text-align: center;
}
.btn-pdf .fas {
    font-size: 36px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 25px;

}
.pdf-urltitle {
    font-size: 18px;
    width: 100%;
    height: 44px;
    display: block;
    position: absolute;
    line-height: 22px;
}
.title-sigal {
    line-height: 44px;
}
.title-withspan {
    line-height: 18px;
}

.pdf-urltitle span {
    display: inline-block;
    font-size: 13px;
    background: #987754;
    padding: 2px 5px;
    border-radius: 3px;
    color: #fff;
    line-height: 15px;
}

.weekly-tabList h3 {
    font-size: 20px;
        margin: 30px 0;
}

.weekly-tabList > ul {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid  #eeeeee;
   padding-bottom: 20px;
}
.weekly-tabList > ul:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.weekly-tabList > ul li {
    overflow: auto;
    margin: 20px auto;
}
.weekly-tabList > ul  img{
    width: 140px;
    height: 140px;
    border: 1px solid #f0efe9;
    float: left;
}
.weekly-tabList > ul p {
    width: calc(100% - 160px);
    float: right;
    margin-top: 5px;
}
.weekly-tabList > ul .title a{
    font-size: 16px;
    color: #799c48;
}

.weekly-tabList .textinfo {
    font-size: 16px;
    margin: 0;
    line-height: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.weekly-tabList .textinfo a{
    color: #4d4d4d;
}



/* calendar */
#calendar {
    width: 90%;
    margin: 0 auto;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #ccc;
}
.fc-event { 
    border-radius: 0;
    text-align: left;
    border: 0;
    padding: 1px 3px;
    font-size: 13px;
}
.fc-event:hover , .fc-event:focus{ 
    text-decoration: none;

}

.fc-event.event-join , .event-join .fc-event-dot { background: #d9efd5; color: #4d4d4d;} /*講座研習*/
.fc-event.event-lectures , .event-lectures .fc-event-dot { background: #fff; color: #4d4d4d;} /*入社說明會*/
.fc-event.event-teaching , .event-teaching .fc-event-dot { background: #fff; color: #4d4d4d;} /*教作分享*/
.fc-event.event-producer , .event-producer .fc-event-dot { background: #fff; color: #4d4d4d;} /*生產者之旅*/
.fc-event.event-agenda , .event-agenda .fc-event-dot { background: #fff; color: #4d4d4d;} /*議題活動*/
.fc-event.event-welfare , .event-welfare .fc-event-dot { background: #fff; color: #4d4d4d;} /*公益託播*/

.fc-event.event-head , .event-head .fc-event-dot { color: #799c48;} /*總社*/
.event-head .fc-list-item-title { color: #799c48; }

.event-join .fc-list-item-title a:before { content: '【講座研習】' ;}
.event-lectures .fc-list-item-title a:before { content: '【入社說明會】' ;}
.event-teaching .fc-list-item-title a:before { content: '【教作分享】' ;}
.event-producer .fc-list-item-title a:before { content: '【生產者之旅】' ;}
.event-agenda .fc-list-item-title a:before { content: '【議題活動】' ;}
.event-welfare .fc-list-item-title a:before { content: '【公益託播】' ;}



.fc-toolbar.fc-header-toolbar { margin-bottom: 25px;}
.fc-header-toolbar h2 { 
    margin: 0;
    font-size: 50px;
    color: #799c48;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-weight: 600 ;
}

.fc-month-view thead td,  .fc-month-view thead th{ border-color: transparent;}
.fc-month-view thead th {
    padding-bottom: 10px;
}
.fc-month-view thead th  span {
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-size: 19px;
    font-weight: 600 ;
    text-transform : uppercase;
    letter-spacing: .5px;
    color: #4d4d4d;
}

.fc-unthemed td.fc-today {
    background: transparent;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: right;
    display: inline-block;
    width: 24px;
    text-align: center;
    line-height:24px;

    font-family: 'Maven Pro', Verdana, sans-serif;
    font-size: 14px;
}
.fc-today { position: relative;}
.fc-today:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #799c48;
    z-index: -1;
    position: absolute;
    top: 2px;
    right: 2px;
}
.fc-today .fc-day-number {
    color: #fff;
}
.fc-body {
    border-bottom: 1px solid #ccc;
}
.fc-highlight {
    background: #f0efe9;
}

.fc button {
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #799c48;
    position: relative;
}
.fc-button {
    background: none;
    border: 1px solid #ccc;    
}
.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {
    border-radius: 0;

}
.fc-month-button {
    display: none;
}
.fc-month-button::before {
    content: '\f073';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.fc-listMonth-button::before {
    content: '\f0ca';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.fc-list-view .fc-scroller {
    height: auto !important;
}
.fc-list-item-title {
    text-align: left;
}

.fc-toolbar .fc-right {
    margin-top: 8px;
}
.fc-state-hover {
    border: 1px solid #799c48;
}
.fc-state-down {
    box-shadow: none;
    border: 1px solid #799c48;
}
.calendar-wrapper {
    position: relative;
}
.calendar-search {
    display: none;
}

.calendarFilter {
    position: absolute;
    font-size: 20px;
    left: 290px;
    top: 3px;

}
.calendarFilter .inlineDiv {
    display: inline-block;
    width: 140px;
}
.calendarFilter select {
    border: 1px solid #ccc;

}


.checkbox-join:checked + label:after, .radio-join:checked + label:after {
    background: #6fb461;
}
.checkbox-join + label:hover:after, .radio-join + label:hover:after {
    border: 2px solid #6fb461;
}
.checkbox-lectures:checked + label:after, .radio-lectures:checked + label:after {
    background: #ef9b37;
}
.checkbox-lectures + label:hover:after, .radio-lectures + label:hover:after {
    border: 2px solid #ef9b37;
}
.checkbox-teaching:checked + label:after, .radio-teaching:checked + label:after {
    background: #35a8a9;
}
.checkbox-teaching + label:hover:after, .radio-teaching + label:hover:after {
    border: 2px solid #35a8a9;
}

.checkbox-producer:checked + label:after, .radio-producer:checked + label:after {
    background: #df5e5e;
}
.checkbox-producer + label:hover:after, .radio-producer + label:hover:after {
    border: 2px solid #df5e5e;
}
.checkbox-agenda:checked + label:after, .radio-agenda:checked + label:after {
    background: #607dcf;
}
.checkbox-agenda + label:hover:after, .radio-agenda + label:hover:after {
    border: 2px solid #607dcf;
}
.checkbox-welfare:checked + label:after, .radio-welfare:checked + label:after {
    background: #b960cf;
}
.checkbox-welfare + label:hover:after, .radio-welfare + label:hover:after {
    border: 2px solid #b960cf;
}

.fc-list-heading-main , .fc-list-heading-alt{
    font-family: 'Maven Pro', Verdana, sans-serif;
}
span.control {
    margin: 5px 0;
}

.eventinfo {
    background: #f6f6f6;
    padding: 30px 50px 10px 50px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-top: 30px;
}
.eventinfo > p {
    color: #666666;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
}

.eventinfo > p > span {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    margin-right: 10px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 2px;
}
.eventinfo a {
    color: #799c48;
}
.eventinfo a span {
    font-size: 12px;
    margin-left: 3px;
}
.eventinfo a:hover , .eventinfo a:focus {
    text-decoration: none;
}

.newslist {
    padding-left: 0;
    list-style: none;
}
.newslist li {
    clear: both;
    margin-bottom: 30px;
    height: 80px;
}
.listimg {
    float: left;
}
.newslist p {
  padding-left: 20px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.newslist p.date {
   font-size: 16px;
   color: #799c48;
   font-family: 'Maven Pro', Verdana, sans-serif;
   margin-bottom: 0;
   padding-top: 12px;
}
.newslist p.title a {
    font-size: 18px;
    color: #4d4d4d;
    font-family: 'Maven Pro', Verdana, sans-serif , "微軟正黑體";
    
 }
 .newslist p.title a:hover {
     text-decoration: none;
 }
 
.download-list, .qa-filter {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 40px;
}
.download-list li, .qa-filter li {
    display: inline-block;
    color: #947858;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 10px;
    margin-bottom: 10px;
}
.download-list li.active , .qa-filter li.active {
    background: #947858;
    color: #fff; 
    border-radius: 20px;
}
.download-files, .qa-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 40px;

}
.download-files li {
    font-size: 18px; 
    font-family: 'Maven Pro', Verdana, sans-serif , "微軟正黑體";
    padding: 20px ;
    border-bottom: 1px solid #f0efe9;

}
.download-files li:last-child { border-bottom: 0;}
.download-files .fas {
    margin-left: 5px;
    font-size: 20px;
}
.fa-file-pdf { color: #c11e07;}
.fa-file-word { color: #295496; }

.location-head {
    background: url('../images/locationhead.jpg');
    height: 270px;
    position: relative;

}
.location-head h2 {
    color: #fff;
    padding-top: 60px;
}

.location-filter {
    width: 420px;
    margin: 0 auto;
    background: #fff;
    height: 50px;
    border-radius: 3px;
    position: relative;

}
.location-filter.form-inline select.custom-select{
    display: inline-block;
    width: auto;
    padding-right: 30px;
}
.location-filter.form-inline select.custom-select:nth-child(1) {
    width: 130px;
    border-right: 1px solid #f0efe9;
}
.location-filter.form-inline select.custom-select:nth-child(2) {
    width: 186px;
}
.location-filter .btn-search {
    border: 0;
    background: #799c48;
    width: 96px;
    height: 50px;
    position: absolute;
    right: 0;
    color: #fff;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    letter-spacing: 1px;
}
.location-list h3 {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.location-list .col-md-5 {
    margin-bottom: 30px;
}
.location-list .col-md-5 a {
    display: block;
    width: 100%;
    height: 160px;
    background: #f6f6f6;
    border: 1px solid #f0efe9;
    padding-right: 15px;
}
.location-list .row:nth-child(2n+1) .col-md-5 a {
    background: #f6f6f6;
}

.location-list .col-md-5 a img {
    float: left;
}
.location-list  p {
    padding-left: 220px;
}
.location-list .col-md-5 a p.title {
    font-size: 20px;
    color: #4d4d4d;
    margin: 20px 0;
}
.location-list .col-md-5  .fas {
    color: #957858;
    font-size: 14px;
    margin-right: 5px;
    position: absolute;
    left: 222px;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
}
.location-list .col-md-5 p {
    color: #a5a5a5;
    font-size: 13px;
    font-family: 'Maven Pro', Verdana, sans-serif , '微軟正黑體';

}
.location-list .col-md-5 a:hover, .location-list .col-md-5 a:focus{
    text-decoration: none;
}
.location-list .phone , .location-list .location {
    position: relative;
    padding-left:242px;
}
.location-map {
    height: 250px;
    background: #666666;
    margin-top: 20px;
    margin-bottom: 50px;
}
.location-map iframe {
    width: 100%;
    height: 250px;
}
.location-wrapper h2 {
    text-align: left;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px;
}
.location-wrapper .sociallink a {
    color: #957858;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-right: 15px;
}
.location-wrapper .sociallink {
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px;

}
.locationinfo h3 {
    font-size: 16px;
    color: #799c48;
}
.locationinfo h3 span {
    display: inline-block;
    margin-right: 3px;
    width: 18px;
    text-align: center;
}
.locationinfo .tag {
    border: none;
    background: #4d4d4d;
    color: #fff;
    font-size: 15px;
}



/* RWD */
@media (max-width: 1200px) {
    .location-list .col-md-5 {
        margin-left: 0;
        width: 50%;
    }
}
@media (max-width: 990px) {
    .protype .col-sm-4 {
        width: 50%;
    }
    .location-list .col-md-5 {
        width: 100%;
    }
    .location-list .row:nth-child(2n+1) .col-md-5 a {
        background: #f6f6f6;
    }
}

@media (max-width: 768px) {
    .weeklyFocus [class^="col-"]{
        width: 100%;
        margin-left: 0;
    }
    .weeklyFocus .col-sm-offset-1 + .col-sm-5{
        margin-top: 30px;
    }   
    .weeklyFocus .textinfo {
        margin-top: 10px;
    }
    .weeklyFocus .btn-primary {
        display: block;
        width: 86px;
        margin: 0 auto;
    }
    .weeklyTab ul[role="tablist"] li {
        width: 20%;
    }
    .weeklyTab .nav-tabs[role="tablist"] li a {
        padding: 15px 0px;
        text-align: center;
    }
    .weekly-pdf {
        display: block;
    }
    .pdf-area, .pdf-url {
        width: 100%;
         float: none;
         text-align: center;
    }
    
    .fc-listMonth-button {
        display: none;
    }



}

@media (max-width: 767px) {
    .prodCarousel {
        margin-bottom: 20px;
    }
}

@media (max-width: 765px) {
    .calendar-wrapper .fc-right .fc-button-group:last-child {
        display: none;
    }
}

@media (max-width: 680px) {
    .protype .col-sm-4 {
        width: 80%;
        margin-bottom: 15px;
        margin-left: 10%;
    }
}

@media (max-width: 610px) {
    .calendarFilter {
        position: static;
    }
    .calendarFilter .inlineDiv {
        display: block;
        width: 100%;
    }
    .calendarFilter select {
        border: none;
        font-size: 16px;
        width: 100%;
    }
    .calendar-search {
        display: block;
        margin-bottom: 30px;
    }
    .calendar-wrapper .calendarFilter {
        display: none;
    }
}

@media (max-width: 480px) {
    .protype .col-sm-4 {
        width: 90%;
        margin-left: 5%;
        margin-top: 5px;
    }
    .protype .col-sm-4 .prodimg {
        width: 136px;
        height: 136px;
    }
    .protype .col-sm-4 .prodimg img {
        width: 100%;
    }
    .prodicon {
        width: 130px;
        height: 130px;
    }
    .protype .col-sm-4 p {
        padding-left: 145px;
    }
    .fc-header-toolbar h2 {
        font-size: 40px;
    }
    .fc-toolbar .fc-right {
        margin-top: 2px;
    }
    .newslist p {
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
    .newslist p.date {
        padding-top: 2px;
    }
    .newslist p {
        padding-left: 10px;
    }
    .location-list .col-md-5 a img {
        display: none;
    }
    .location-list .col-md-5 a , .location-list .row:nth-child(2n+1) .col-md-5 a {
        background:  none;
    }

    .location-list p {
        padding-left: 20px;
    }
    .location-list .phone, .location-list .location {
        padding-left: 44px;
    }
    .location-list .col-md-5 .fas {
        left: 23px;
    }
    .location-list .col-md-5 a {
        height: auto;
        border: none;
        border-bottom: 1px solid #f0efe9;
        padding-bottom: 20px;
    }
    .location-list .col-md-5 a p.title {
        font-size: 20px;
        color: #4d4d4d;
        margin: 0 0 10px;
    }

}
@media (max-width: 420px) {

    .location-filter {
        width: 340px;
    }
    .location-filter.form-inline select.custom-select:nth-child(1) {
        width: 105px;
    }
    .location-filter.form-inline select.custom-select:nth-child(2) {
        width: 160px;
    }
    .location-filter .btn-search {
        width: 66px;
    }
}


@media (max-width: 375px) {
    .newslist img { display: none; }
    .newslist li {
        margin-bottom: 20px;
        height: auto;
    }

}