@charset "utf-8";
/*=================================

  【  共用區域  】 h2.list.search

===================================*/

.breadcrumb{
    margin-top: 20px;
}
p {
   text-align: justify;
   text-justify: inter-ideograph;
}
/* h2共用 */

.wrapper .section_title{
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 75px auto 55px auto;
}
.wrapper .section_title::before {
    content: " ";
    width: 73px;
    height: 2px;
    display: block;
    background: #777;
    margin: 0px auto -44px auto;}

/* list共用 */

.alllist .thumbnail{
    height: 520px;
    padding: 0px;
    position: relative;
}
.alllist .thumbnail:hover{
    background:#799c48
}
.greenPage .alllist .thumbnail:hover{
    background:#5c7537;
}

/* list caption共用*/
.alllist .thumbnail .caption{
    padding: 15px 20px;
}

.alllist .thumbnail .caption h3{
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 5px;
    height: 72px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 60px;

}
.alllist .thumbnail:hover .caption h3{
    color: #fff;
}

.alllist .thumbnail .caption h3 a{
    color: #4d4d4d;
    font-weight: normal
}
.alllist .thumbnail:hover h3 a{
    color: #fff;
    text-decoration:none;
}
.alllist .thumbnail .caption p{
    font-size: 15px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    max-height: 158px;
}
.alllist .thumbnail .caption p a{
    color: #666666;
}
.alllist .thumbnail:hover .caption p a{
    color: #fff;
    text-decoration:none;
}

/*search 共用 擴大至主婦聯盟搜尋*/
.searchbar{
    background: #f0efe9;
    padding: 50px 0;
}
.more_search{
    margin: 20px auto 0px 4px;
}
.more_search label{
    color: #777;
    font-size: 16px;
}
.checkbox-primary:checked + label:after, 
.radio-primary:checked + label:after {
    border: 0px solid #999;
    background: #999;
}
.checkbox-primary + label:hover:after, 
.radio-primary + label:hover:after {
    border: 2px solid #5c7537;
}
/*search list*/
.results_list{    
    margin-top: 65px;
}
.results_list .total{
    color: #999999;
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
}
.results_list .total p{
    margin: 0px 0 13px;
}
.results_list .total span{
    color: #000;
    padding: 0px 5px;
}
.results_content{
    margin-top: 30px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 22px;
}
.results_content h3{
    font-size: 19px;
    color: #333;
    margin-bottom: 17px;
}
.results_content h3 a{
    color: #333;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 23px;
}
.results_content p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 43px;
    margin: 16px 0px;
    color: #666666;
}
.results_content .from{
    color: #5c7537;
    font-size: 14px;
}

.results_content:last-child{
    border-bottom: 0px solid #dddddd;
    padding-bottom: 0px;
}

/* inner文章內頁共用 */
.inner_container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* slick */

.slick-dots {
    bottom: 0;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #799c48;
}

.slick-dots li button:before {
    opacity: 1;
    color: #fff;
}

.slick-dots li {
    margin: 0 2px;
}
/* h2 */
.inner .inner_content .section_title{   
    text-align: left;
    margin: 45px 0px 12px 0px;
    font-size: 28px;
    line-height: 36px;
    width: calc(100% - 155px);
    display: inline-block;
}
.inner .addthis_inline_share_toolbox {
    float: right;
    display: inline-block;
    margin-top: 50px;
}

.inner .inner_content .section_title::before {
    content: " ";
    width: 0px;
    height: 0px;
    display: none;
    background: #eee;
    margin: 0px
}
.inner .inner_content .date{
    color: #999;
    font-size: 15px;
}
/*content*/
.inner .content h3{
    font-size: 17px;
    font-weight: bold;
    color: #4d4d4d;
    margin-bottom: 14px;
    margin-top: 46px;
}
.inner .content p{
    font-size: 16px;
    font-weight: normal;
    line-height:2;
    color: #555;
}
.inner  .content th{
    background: #5C7537;
    width: 185px;
    color: #ffffff;
    font-weight: normal;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #fff;
}
.inner  .content tr:last-child th {
    border-color: #5C7537;
}
.inner  .content td{
    border: 1px solid #5c7537;
    text-align: left;
    padding: 13px 15px;
}
.inner  .content .green_tag{
    margin-top: 42px;
}
.inner  .content img{
    width: 100%;
    margin: 30px 0px;
}
/* video */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 25px 0;
    text-align: left;
  }
  .videoWrapper iframe {
    position: absolute;
    left:0;
    width: 100%!important;
    height: 100%!important;
  }
/* tag */
.green_tag ul{
    padding: 0px;
}
.green_tag ul li{
    list-style: none;
    border: 1px solid #8bb220;
    border-radius: 37px;
    display: inline-block;
    padding: 5px 13px;
    color: #4d4d4d;
    margin: 5px 2px;
}
.green_tag ul li a{
    color: #4d4d4d;
}
.green_tag ul li::before{
    content: "#";
    color: #8bb220;
    padding-right: 5px;
}
/* 延伸閱讀 extended_read */
/*h3*/
.extended_read .section_title{
    font-size: 21px;
    letter-spacing: 1px;
    margin: 70px auto 35px auto;
    color: #5C7537;
}
.extended_read .section_title::before{
    content: " ";
    width: 89%;
    height: 1px;
    display: block;
    background: #5c7537;
    margin: 0px 0px -12px 114px;
}
.extended_read .thumbnail:hover a img{
    opacity: 0.7;;
}

.extended_read .thumbnail:hover .caption{
    background: #5c7537;
}
.extended_read .thumbnail:hover .caption h4 a{
    color: #fff;
}
.extended_read .thumbnail:hover .caption h4 a{
    text-decoration: none;
}
.extended_read .thumbnail:hover .caption .fa-angle-right{
    color: #fff;
}
/*caption*/
.extended_read .thumbnail{
    padding: 0px;
}
.extended_read .caption{
    padding: 0 5px;
    color: #333;
    overflow: auto;
}
.extended_read .caption h4{
    width: calc(100% - 20px);
    float: left;
    font-size: 15px;
    color: #4d4d4d;
    padding: 0px 3px;
    font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    }
.extended_read .caption h4 a{
    color: #4d4d4d;

}
.extended_read .caption i{
    float: right;
    color: #4d4d4d;
    padding-right: 3px;
    margin-top: 10px;
}
/*=== green "message"  ===*/


/*h3*/
.message .section_title{
    font-size: 20px;
    color: #4d4d4d;
    letter-spacing: 2px;
    margin: 61px auto 35px auto;
}
.message .section_title::before{
    display: none;
}
/*新增留言*/
.message .add_message{
    margin-bottom: 50px;
    overflow: auto;
}
.message .add_message img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    margin-right: 8px;
}
.add_message .message_div{
    width: calc(100% - 60px);
    float: right;
    padding: 9px 18px;
    color: #999;
    margin-top: 3px;
}

.add_message .message_div {
    width: calc(100% - 60px);
    float: right;
    padding: 0;
    color: #999;
    margin-top: 4px;
    border: 1px solid #ccc;  
}


.message_div.reply_Box > div{
    display: none;
}
.message_div.reply_Box span {
    display: block;
    padding: 10px 5px;
    cursor: text;
}
/*回覆鈕*/
.reply_message .reple_responder{
    float: right;
}
.reply_message .reple_responder .btn-br-success{
    color: #5C7537;
    border: 1px solid #5C7537;
    border-radius: 20px;
    letter-spacing: 2px;
}
.reply_message .reple_responder .btn-br-success:hover{
    background: #5c7537;
    color: #eee;
}
/* img */
.reply_message .media-img{
    display: inline-block;
    margin-right: 11px;
}
.reply_message .media-img img{
    width: 64px;
    border-radius: 50%;
    margin-top: -23px;
}
.reply_message .reply_info{
    display: inline-block;
    padding-top: 22px;
    font-size: 14px;
}
.reply_message .reply_info .name{
    font-size: 17px;
    line-height: 11px;
}
.reply_message .reply_info .time{
    font-size: 13px;
}
/* 回覆區 */
/*主回*/
.reply_message .media-list .media-list .media-body p{
    font-size: 15px;
    color: #4d4d4d;
    margin-top: 14px;
}
.reply_message .media-list li{
    border-top: 1px solid #dbdbdb;
    padding-top: 30px;
    margin-bottom: 30px;
}
/*附回*/
.reply_message .media-list .media-list 
.media-body .media .media-body {
    padding: 14px 16px;
}
/*附h4*/
.reply_message .media-list .media-list 
.media-body .media .media-body .media-heading{
    font-size: 17px;
    line-height: 9px;
    font-weight: normal;
    margin-top: 6px;
}
/*附的上寬距amd下寬距*/
.reply_message .media-list .media-list 
.media-body .media .media-body{
    margin-top: 30px;
}
/*附圖*/
.reply_message .media-list 
.media-body .media .media-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    margin-right: -6px;
    margin-top: 15px;
}
/*time*/
.reply_message .media-list .media-list 
.media-body .media .media-body .time{
    font-size: 13px;
    margin-top: -1px;
    margin-bottom: -7px;
}
/*回覆box*/
.reply_Box {
    border: 1px solid #ccc;
    padding: 0;
}
.reply_Box textarea {
    border: none;
    resize : none;
    overflow-y : auto; 
    box-shadow: none;
    padding: 7px;
}
.reply_Box textarea:focus {
    outline : 0; /* Chrome */
    box-shadow: none;
}
.reply_Box_button {
    border-top: 1px solid #f0efe9;
    padding: 7px;
}
.btn-br-primary {
    border:  1px solid  #5C7537;
    color:  #5C7537;
}
.btn-br-primary:focus, .btn.active, .btn-br-primary:active, 
.btn-br-primary.active.focus, .btn-br-primary.active:focus, 
.btn-br-primary.active:hover, .btn-br-primary:active.focus, 
.btn-br-primary:active:focus, .btn-br-primary:active:hover {
    color: #5C7537;

}

.media-reply {
    display: none;
}
.swiper-wrapper {
    margin-top: 20px;
}
.swiper-wrapper img {
    width: 100%;
}

.empty {
    margin: 60px 0;
    font-size: 16px;
}
.empty img {
    margin-bottom: 20px;
}


.topic .thumbnail .caption p {
    margin-top: 12px;
    padding-top: 13px;
    border-top: 1px dashed #ddd;
}
.topic .thumbnail .caption p.label {
    margin-top: 0;
    padding-top: 3px;
    border-top: 0;
    background: #799c48;
    border-radius: 1px;
    font-weight: normal;
    font-size: 15px;
    display: inline;
    color: #fff;
    position: absolute;
    left: 0;
    top: 15px;

}


.topic .fa-lock {
    display: none;
}

.topic .thumbnail .caption .date {
    display: none;
}


/*=== green "專題首頁"  ===*/

/* img */

.topic_hp .topic_hp_img {
    width: 100%;
}

/*h2*/

.topic_hp .section_title {
    font-size: 28px;
    letter-spacing: 1px;
    margin: 36px auto 25px auto;

}
.topic_hp .addthis_inline_share_toolbox{
    text-align: center;
    margin-bottom: 40px;
}


.topic_hp .section_title::before {
    content: " ";
    display: none;
}

.topic_hp .hp_content {
    margin: 38px auto 10px;
    line-height: 28px;
    color: #4d4d4d;
    padding: 0px 70px;
    font-size: 16px;
    height: 140px;
    overflow: hidden;
}

.topic_hp .hp_content.open {
    height: auto;
    overflow: auto;
}

/*linedown*/

.topic_hp .linedown {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.topic_hp .linedown::before {
    content: " ";
    width: 100%;
    height: 1px;
    display: block;
    background: #799c48;
    position: absolute;
    top: 15px;
    z-index: -1;
}
.greenPage .topic_hp .linedown::before {
    background: #5c7357;
}

.topic_hp .linedown a {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    background: #799c48;
    border-radius: 50%;
}

.greenPage .topic_hp .linedown a {
    background: #5c7357;
}


.topic_hp .linedown i {
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}

.topic_hp .fa-chevron-circle-down:before {
    background: #fff;
}

/*hp_list*/

.topic_hp .hp_list [class^="col-"] {
    border-right: 1px solid #ddd;
}

.topic_hp .hp_list [class^="col-"]:nth-child(3n) {
    border-right: 1px solid transparent;
}

.topic_hp .hp_list .thumbnail {
    height: 540px;
    padding: 0px;
    border: 0px solid #FFF;
    margin: 0px 0px;
    padding: 3px 5%;
    border-radius: 0px;
}

.greenPage .topic_hp .hp_list .thumbnail {
    height: 600px;
}

.topic_hp .hp_list .thumbnail img {
    margin-bottom: 10px;
}

.topic_hp .hp_list .thumbnail img:hover {
    opacity: 0.7;
}

/* hp_caption*/

.topic_hp .hp_list .col-md-4:nth-child(3n) .thumbnail {
    border-right: 0px solid #ddd;
}
.topic_hp .thumbnail .caption {
    padding: 0;
}
.topic_hp .thumbnail .caption h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 15px;
    height: 72px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 60px;
}

.topic_hp .thumbnail .caption h3 a {
    color: #4d4d4d;
    font-weight: normal
}

.topic_hp .thumbnail .caption p {
    font-size: 15px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    max-height: 158px;
}

.topic_hp .thumbnail .caption p a {
    color: #666666;
}

.topic_hp .thumbnail .caption .date {
    margin-top: 0px;
    font-size: 14px;
    color: #999999;
}

.topic_hp .thumbnail .label {
    background: #5c7357;
    border-radius: 1px;
    font-weight: normal;
    font-size: 15px;
}
.huccPage .topic_hp .thumbnail .label {
    display: none;
}

.article .fa-lock {
    color: #8cc63f;
    padding-right: 5px;
    font-size: 15px;
    vertical-align: text-top;
    line-height: 25px;
}

.article .thumbnail .caption .date {
    margin-top: 0px;
    font-size: 14px;
    color: #999999;
}

.article .thumbnail {
    height: 530px;
}

.article .thumbnail:hover .caption p {
    color: #fff;
    text-decoration: none;
}
.huccPage .article .fa-lock {
    color: #5C7537;
}


/*=================================

  【  RWD  】

==================================*/



/* 新增留言*/
@media (max-width: 767px){
    .extended_read .thumbnail img{
        width: 100%;
    }
    .inner .inner_content .section_title{   
        width: 100%;
        display: block;
    }
    .inner .addthis_inline_share_toolbox {
        float: none;
        display: block;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    

}


/*文章內頁RWD*/

@media (min-width: 768px) {
    .inner_container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .inner_container {
        width: 928px;
    }
}
@media (min-width: 1200px) {
    .inner_container {
        width: 900px;
    }
}